@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

// Palette
$primary: #2969ff;
$secondary: #ffce5c;
$tertiary: #ff5c8d;
$quaternary: #8dff5c;
$quinary: #7c5cff;
$light: #f6f8ffff;
$dark: #272d2dff;

// Text colors
$text-light: #aeaeae;
$text-med: #50514fff;
$text-dark: #363636;

// Background colors
$bg-light: #EFFBFF;
$bg-color: #016FB9;

// Primary font-family
$primary-font: 'Source Sans Pro', sans-serif;
